<form>
  <input type="number" [(ngModel)]="numero3" name="numero3">
  <input type="number" [(ngModel)]="numero4" name="numero4">
  <button (click)="calcularDivisao()">Dividir</button>
  {{calcularDivisao}}
</form>

<form>
  <input type="number" [(ngModel)]="numero5" name="numero5">
  <input type="number" [(ngModel)]="numero6" name="numero6">
  <button (click)="calcularMultiplicacao()">Multiplicar</button>
  {{calcularMultiplicacao}}
</form>

<form>
  <input type="number" [(ngModel)]="numero1" name="numero1">
  <input type="number" [(ngModel)]="numero2" name="numero2">
  <button (click)="calcularSoma()">Somar</button>
  {{calcularSoma}}
</form>


<form>
  <input type="number" [(ngModel)]="numero7" name="numero7">
  <input type="number" [(ngModel)]="numero8" name="numero8">
  <button (click)="calcularSubtracao()">Subtrair</button>
  {{calcularSubtracao}}
</form>
